@color1: #FC4E08; // orange
@color2: #878787; // gray
@color3: white;   // white
@background-color: black;
@font-family: Georgia, serif;

html {
  height: 100%;
}

body {
  color: @color2;
  font-family: @font-family;
  background: url(../img/background.jpg) no-repeat right bottom black fixed;
}

h1 {
  color: @color1;
  font-family: @font-family;
  font-size: 4em;
}

h2 {
  color: @color3;
  font-family: @font-family;
  font-size: 1.5em;
}

a {
  color: @color2;
}

a:hover {
  color: @color3;
}

.panel {
  width: auto;
  min-width: 37em;
  max-width: 37em;
  margin: 5em 5em;
  background-color: rgba(0, 0, 0, .7);
}

.col-lg-2 {
  width: 2em;
}

.col-lg-4 {
  width: auto;
}

.col-lg-2, .col-lg-4 {
  margin-top: 0.5em;
  float: none;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  font-size: 1.5em;
}

ul li {
  list-style-type: none;
}

#lifestream ul {
  padding: 10px;
}

#lifestream li {
  padding: 5px 3px 5px 25px;
  background-repeat: no-repeat;
  background-position: left center;
  
  a {
    color: @color1;
  }
}

#lifestream .timeago {
  opacity: .7;
}