extends content-template

block vars

  - var title = 'Florian J. Breunig'


block background-wrap

  .background-wrap.resize


block content

  .panel

    .panel-heading(itemscope, itemtype='http://data-vocabulary.org/Person')

        h1(itemprop='name') Florian J. Breunig

        h2 Information Technologist, 
            span(itemprop='title') Software&nbsp;Architect
            |.
        h2
            span(itemprop='address', itemscope, itemtype='http://data-vocabulary.org/Address')
                span(itemprop='locality') Munich
                |, 
                span(itemprop='region') Germany
                |.


    .panel-body

        .row
          .col-lg-2
            a(href='https://www.last.fm/user/my-flow', onclick!='trackOutboundLink(\'https://www.last.fm/user/my-flow\'); return false;')
              img(src='img/icon-last-fm.png', alt='last.fm', width=32, height=32)
          .col-lg-4
            a(href='https://www.last.fm/user/my-flow', onclick!='trackOutboundLink(\'https://www.last.fm/user/my-flow\'); return false;')
              | Music on Last.fm

        .row
          .col-lg-2
            a(href='https://soundcloud.com/my-flow', onclick!='trackOutboundLink(\'https://soundcloud.com/my-flow\'); return false;')
              img(src='img/icon-soundcloud.png', alt='Soundcloud', width=32, height=32)
          .col-lg-4
            a(href='https://soundcloud.com/my-flow', onclick!='trackOutboundLink(\'https://soundcloud.com/my-flow\'); return false;')
              | Audio on Soundcloud

        .row
          .col-lg-2
            a(href='http://muctransit.my-flow.com', onclick!='trackOutboundLink(\'http://muctransit.my-flow.com\'); return false;')
              img(src='img/icon-appstore.png', alt='App Store', width=32, height=32)
          .col-lg-4
            a(href='http://muctransit.my-flow.com', onclick!='trackOutboundLink(\'http://muctransit.my-flow.com\'); return false;')
              | Apps on the App Store

        .row
          .col-lg-2
            a(href='https://plus.google.com/+FlorianJBreunig?rel=me', onclick!='trackOutboundLink(\'https://plus.google.com/+FlorianJBreunig?rel=me\'); return false;')
              img(src='img/icon-google-plus.png', alt='LinkedIn', width=32, height=32)
          .col-lg-4
            a(href='https://plus.google.com/+FlorianJBreunig', rel='me', onclick!='trackOutboundLink(\'https://plus.google.com/+FlorianJBreunig\'); return false;')
              | Profile on Google Plus

        .row
          .col-lg-2
            a(href='https://www.linkedin.com/in/florianjbreunig', onclick!='trackOutboundLink(\'https://www.linkedin.com/in/florianjbreunig\'); return false;')
              img(src='img/icon-linked-in.png', alt='LinkedIn', width=32, height=32)
          .col-lg-4
            a(href='https://www.linkedin.com/in/florianjbreunig', onclick!='trackOutboundLink(\'https://www.linkedin.com/in/florianjbreunig\'); return false;')
              | Profile on LinkedIn

        .row
          .col-lg-2
            a(href='https://www.github.com/my-flow', onclick!='trackOutboundLink(\'https://www.github.com/my-flow\'); return false;')
              img(src='img/icon-github.png', alt='GitHub', width=32, height=32)
          .col-lg-4
            a(href='https://www.github.com/my-flow', onclick!='trackOutboundLink(\'https://www.github.com/my-flow\'); return false;')
              | Repositories on GitHub

        .row
          .col-lg-2
            a(href='http://instagr.am/myflowcom', onclick!='trackOutboundLink(\'http://instagr.am/myflowcom\'); return false;')
              img(src='img/icon-instagram.png', alt='Instagram', width=32, height=32)
          .col-lg-4
            a(href='http://instagr.am/myflowcom', onclick!='trackOutboundLink(\'http://instagr.am/myflowcom\'); return false;')
              | Photos on Instagram


  .panel.hidden-print

      #loading-lifestream.show

          em.panel-heading.fa.fa-spinner.fa-spin

      #hidden-lifestream.hidden

          h3.panel-heading Lifestream

          #lifestream.panel-body