extends content-template

block vars

  - var title = 'Florian J. Breunig'


block background-wrap

  .background-wrap.resize


block content

  .panel

    .panel-heading(itemscope, itemtype='http://data-vocabulary.org/Person')

        h1 Contact


    .panel-body

        | Thank you for your message.
