doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content=author)
    link(rel='shortcut icon', href='img/favicon.ico')

    title=author

    // Bootstrap core CSS
    link(rel='stylesheet', href='css/bootstrap.min.css')

    // Custom styles for this template
    link(rel='stylesheet', href='css/style.css')

    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        // <![endif]

    // Google Web Fonts
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Source+Sans+Pro')

    // jQuery Lifestream
    link(rel='stylesheet', type='text/css', href='css/lifestream.css')
    script(type='text/javascript', charset='utf-8', src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(type='text/javascript').
        !window.jQuery && document.write('<script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"><\/script>');
    script(type='text/javascript', charset='utf-8', src='js/jquery.lifestream.min.js')
    script(type='text/javascript', charset='utf-8', src="//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.1.0/jquery.timeago.min.js")


  body

    // Wrap all page content here
    #wrap

      // Begin page content
      .panel

        .panel-heading

            h1 Florian J. Breunig

            h2 Information Technologist, Software Architect.
            h2 Munich, Germany


        .panel-body

            .row
              .col-lg-2
                a(href='http://www.last.fm/user/my-flow')
                  img(src='img/icon-last-fm.png', alt='last.fm')
              .col-lg-4
                a(href='http://www.last.fm/user/my-flow') Music on Last.fm

            .row
              .col-lg-2
                a(href='http://soundcloud.com/my-flow')
                  img(src='img/icon-soundcloud.png', alt='Soundcloud')
              .col-lg-4
                a(href='http://soundcloud.com/my-flow') Audio on Soundcloud

            .row
              .col-lg-2
                a(href='http://muctransit.my-flow.com/')
                  img(src='img/icon-appstore.png', alt='App Store')
              .col-lg-4
                a(href='http://muctransit.my-flow.com/') Apps on the App Store

            .row
              .col-lg-2
                a(href='http://www.linkedin.com/in/florianjbreunig')
                  img(src='img/icon-linked-in.png', alt='LinkedIn')
              .col-lg-4
                a(href='http://www.linkedin.com/in/florianjbreunig') Profile on LinkedIn

            .row
              .col-lg-2
                a(href='http://www.github.com/my-flow')
                  img(src='img/icon-github.png', alt='GitHub')
              .col-lg-4
                a(href='http://www.github.com/my-flow') Repositories on GitHub

            .row
              .col-lg-2
                a(href='http://blog.my-flow.com/')
                  img(src='img/icon-tumblr.png', alt='Tumblr')
              .col-lg-4
                a(href='http://blog.my-flow.com/') Blog on Tumblr

            .row
              .col-lg-2
                a(href='http://instagr.am/myflowcom')
                  img(src='img/icon-instagram.png', alt='Instagram')
              .col-lg-4
                a(href='http://instagr.am/myflowcom') Photos on Instagram

            .row
              .col-lg-2
                a(href='http://vimeo.com/myflow')
                  img(src='img/icon-vimeo.png', alt='Vimeo')
              .col-lg-4
                a(href='http://vimeo.com/myflow') Videos on Vimeo

            .row
              .col-lg-2
                a(href='https://www.youtube.com/user/myflowdotcom/')
                  img(src='img/icon-youtube.png', alt='YouTube')
              .col-lg-4
                a(href='https://www.youtube.com/user/myflowdotcom/') Videos on YouTube

            .row
              .col-lg-2
                a(href='https://www.facebook.com/florian.j.breunig')
                  img(src='img/icon-facebook.png', alt='Facebook')
              .col-lg-4
                a(href='https://www.facebook.com/florian.j.breunig') Updates on Facebook


            .row
              .col-lg-2
                a(href='mailto:florian.j.breunig@my-flow.com')
                  img(src='img/icon-mail.png', alt='Mail')
              .col-lg-4
                a(href='mailto:florian.j.breunig@my-flow.com') Say hello@my-flow.com


      .panel

        .panel-heading

          h2 Lifestream


        .panel-body

            #lifestream
            script(type='text/javascript', charset='utf-8', src='js/lifestream.js').

    script(type='text/javascript').
      //<![CDATA[
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-661182-7']);
          _gaq.push(['_setDomainName', '.github.io']);
          _gaq.push(['_trackPageview']);
          (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
      //]]>
