doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content=author)
    link(rel='shortcut icon', href='img/favicon.ico')

    title=author

    // Font Awesome
    link(rel='stylesheet' type='text/css' href='font-awesome-4.0.3/css/font-awesome.min.css')

    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        // <![endif]

    // Google Web Fonts
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Crimson+Text')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Allerta')

    // jQuery Lifestream
    link(rel='stylesheet', type='text/css', href='css/lifestream.css')
    script(type='text/javascript', charset='utf-8', src='js/jquery-1.11.0.min.js')
    script(type='text/javascript', charset='utf-8', src='js/jquery.lifestream.min.js')
    script(type='text/javascript', charset='utf-8', src="js/jquery.timeago-1.3.1.js")

    // Bootstrap
    link(rel='stylesheet', href='css/bootstrap-3.0.3.min.css')
    script(type='text/javascript', charset='utf-8', src='js/bootstrap-3.0.3.min.js')

    // Custom styles for this template
    link(rel='stylesheet', href='css/style.css')

  body

    #background_wrap
    
    .navbar.navbar-default.navbar-fixed-top.navbar-inverse

      // Brand and toggle get grouped for better mobile display
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        .navbar-brand.visible-xs my-flow.com

      .collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-left
            li
              a(tabindex='1', href='http://blog.my-flow.com/', target='_blank') Blog
            li
              a(tabindex='2', href='mailto:hello@my-flow.com') Contact

          ul.nav.navbar-nav.navbar-right
            li
              a(tabindex='3', href='https://github.com/my-flow', target='_blank')
                | &nbsp;
                i.fa.fa-github
                | &nbsp;
            li
              a(tabindex='4', href='https://www.linkedin.com/in/florianjbreunig/', target='_blank')
                | &nbsp;
                i.fa.fa-linkedin
                | &nbsp;
            
            li
              a(tabindex='5', href='https://twitter.com/myflow', target='_blank')
                i.fa.fa-twitter
                | &nbsp;

    // Wrap all page content here
    #wrap

      // Begin page content
      .panel

        .panel-heading

            h1 Florian J. Breunig

            h2 Information Technologist, Software Architect.
            h2 Munich, Germany.


        .panel-body

            .row
              .col-lg-2
                a(href='http://www.last.fm/user/my-flow', target='_blank')
                  img(src='img/icon-last-fm.png', alt='last.fm', width=32, height=32)
              .col-lg-4
                a(href='http://www.last.fm/user/my-flow', target='_blank') Music on Last.fm

            .row
              .col-lg-2
                a(href='http://soundcloud.com/my-flow', target='_blank')
                  img(src='img/icon-soundcloud.png', alt='Soundcloud', width=32, height=32)
              .col-lg-4
                a(href='http://soundcloud.com/my-flow', target='_blank') Audio on Soundcloud

            .row
              .col-lg-2
                a(href='http://muctransit.my-flow.com/', target='_blank')
                  img(src='img/icon-appstore.png', alt='App Store', width=32, height=32)
              .col-lg-4
                a(href='http://muctransit.my-flow.com/', target='_blank') Apps on the App Store

            .row
              .col-lg-2
                a(href='http://www.linkedin.com/in/florianjbreunig', target='_blank')
                  img(src='img/icon-linked-in.png', alt='LinkedIn', width=32, height=32)
              .col-lg-4
                a(href='http://www.linkedin.com/in/florianjbreunig', target='_blank') Profile on LinkedIn

            .row
              .col-lg-2
                a(href='http://www.github.com/my-flow', target='_blank')
                  img(src='img/icon-github.png', alt='GitHub', width=32, height=32)
              .col-lg-4
                a(href='http://www.github.com/my-flow', target='_blank') Repositories on GitHub

            .row
              .col-lg-2
                a(href='http://instagr.am/myflowcom', target='_blank')
                  img(src='img/icon-instagram.png', alt='Instagram', width=32, height=32)
              .col-lg-4
                a(href='http://instagr.am/myflowcom', target='_blank') Photos on Instagram

            .row
              .col-lg-2
                a(href='https://www.youtube.com/user/myflowdotcom/', target='_blank')
                  img(src='img/icon-youtube.png', alt='YouTube', width=32, height=32)
              .col-lg-4
                a(href='https://www.youtube.com/user/myflowdotcom/', target='_blank') Videos on YouTube

      .panel.hidden-print

        .panel-heading

          h3 Lifestream


        .panel-body

            #lifestream
            script(type='text/javascript', charset='utf-8', src='js/lifestream.js').


    if includeTrackingCode

        script(type='text/javascript').
          //<![CDATA[
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-661182-7']);
              _gaq.push(['_setDomainName', '.github.io']);
              _gaq.push(['_trackPageview']);
              (function() {
                  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();
          //]]>
